fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
redis
celery
python-multipart
python-jose[cryptography]
bcrypt
passlib
python-dotenv
reportlab
pillow
openai
boto3
websockets
alembic
pydantic
pydantic-settings
tools
PyMuPDF
frontend
pdfplumber
pdf2image
pytesseract
langchain_core
python-jose[cryptography]
python-multipart
bcrypt==4.0.1
# For email validation
email-validator
pgvector
spacy
rank_bm25
sentence_transformers
langchain-core
langchain-openai
langchain
aiohttp
anyio
httpx
numpy
pandas
pdfrw
pyparsing
rapidfuzz
regex
requests
scikit-learn
tqdm
